{% include "admin_header.html" %}
<div style=" background:url('static/assets/img/portfolio/branding-1.jpg') ; height: 100px; width: 100%; background-size: cover;"  >
    </div>
    
    <br>

    <br>

    <h1 align="center" style="font-size: 50px;"><b>View Post</b></h1>
    
<br>
    <!-- View Products List -->
    <table align="center" border="2" class="table table-bordered">
        <tr>
            <th>User Name</th>
            <th>Post</th>
            <th>Image</th>
            <th>Date</th>
<!--             <th>Status</th>
 -->            <th>Out</th>
        </tr>
        {% for i in data['res'] %}
        <tr>
            <td>{{ i['fullname'] }}</td>
            <td>{{ i['post'] }}</td>
            <td style="padding: 10px; border-bottom: 1px solid #ddd;"><img src="{{i['path']}}" alt="Product Image" width="100" height="100"></td>
            <td>{{ i['date'] }}</td>
<!--             <td>{{ i['status'] }}</td>
 -->            <td>{{i['sentiment']}}</td>
            <td><a href="admin_viewcomments?pid={{ i['post_id'] }}" class="btn-update">Comments</a> |
               <a href="?action=delete&pid={{ i['post_id'] }}" class="btn-delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
               

<!-- Styles -->
<style type="text/css">
    .table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .table th, .table td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ddd;
    }

    .table th, .table td {
        text-align: center;
    }

    .btn-view-products {
        background-color: #007bff;  /* Blue color for View Products */
        color: white;
    }

    .btn-view-products:hover {
        opacity: 0.8;
    }

    .btn-view-products:active {
        opacity: 1;
    }
</style>

{% include "footer.html" %}
