{% include 'admin_header.html'%}
    
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>ADMIN-HOME</h2>
            <p>"Your Space to Post, Comment, and Connect."</p>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
{% include 'footer.html'%}